{% extends "my_layout.html" %}
{% block content %}
<div class="row" style="margin-top: 5px;">

	<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Vos informations</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-12">
						<img class="img-thumbnail img-responsive" src="{{image_file}}" style="width: 100px;height: 75px;" />
					</div>
					<div class="col-md-7 col-sm-7 col-xs-12">
						<p>Nom d'utilisateur : {{current_user.username}}</p>
						<p>Email : {{current_user.email}}</p>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<form method="POST" action="" enctype="multipart/form-data">
					{{ form.hidden_tag()}}
					<fieldset class="form-group">
						<legend> Mettre à jour votre compte</legend>
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							{% if form.username.errors %}
							{{form.username(class="form-control form-control-lg is-invalid")}}
							<div class="text-feedback">
								{% for error in form.username.errors %}
								<span class="text-danger">{{error}}</span>
								{% endfor %}
							</div>
							{% else %}
							{{form.username(class="form-control form-control-lg")}}
							{% endif %}
						</div>
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
							{% if form.email.errors %}
							{{form.email(class="form-control form-control-lg is-invalid")}}
							<div class="text-feedback">
								{% for error in form.email.errors %}
								<span class="text-danger">{{error}}</span>
								{% endfor %}
							</div>
							{% else %}
							{{form.email(class="form-control form-control-lg")}}
							{% endif %}
						</div>
						<div class="input-group" style="margin-bottom: 5px;">
							<span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
							{{form.picture(class="form-control-file",placeholder="Update your photo profile")}}
							{% if form.picture.errors %}
							<div class="text-feedback">
								{% for error in form.picture.errors %}
								<span class="text-danger">{{error}}</span><br/>
								{% endfor %}
							</div>			
							{% endif %}
						</div>
						<div class="form-group">
							{{form.submit(class="btn btn-default",id="breg")}}
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>

</div>

{% endblock content %}