{% extends "my_layout.html" %}
{% block content %}
<div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-2 col-sm-offset-2" style="margin-top: 3px;">
	<fieldset>
		<legend class="text-center">Fichiers mise ligne</legend>
		<div class="table-responsive table-hover">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Description</th>
						<th>Date</th>
						<th>fichier</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					{% for dossier in dossiers.items %}
					<tr>
						<td>{{dossier.id}}</td>
						<td>{{dossier.description}}</td>
						<td>{{dossier.date_posted.strftime('%d-%m-%Y')}}</td>
						<td><a href="{{url_for('static',filename='fichiers/'+dossier.fichier)}}">voir le fichier</a></td>
						<td><a href="{{url_for('dossier_detail',dossier_id=dossier.id)}}" class="btn btn-warning">détails</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</fieldset>
	{% for page_num in dossiers.iter_pages() %}
	{% if page_num %}
	{% if dossiers.page == page_num %}
	<a class="btn" style="background-color: #449d44;color: #fff;border-color: #398439;" 
	href="{{url_for('dossier',page=page_num)}}">{{page_num}}</a>
	{% else %}
	<a class="btn" id="btlink"  href="{{url_for('dossier',page=page_num)}}">{{page_num}}</a>
	{% endif %}
	{% else %}
	...
	{% endif %}
	{% endfor %}
</div>
<hr/>
{% endblock content %}