{% extends "my_layout.html" %}
{% block content %}
<div class="row" >
	<div class="col-md-3 col-sm-3 col-xs-12 panel-body" style="margin-top: 3px; margin-left: 5px;">
		<form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag()}}
			<fieldset class="form-group">
				<legend class="text-danger" style="text-align: center">Joindre un nouveau fichier</legend>
				<div class="form-group" style="margin-bottom: 5px;">
					{{form.description.label(class="form-control-label")}}
					{% if form.description.errors %}
					{{form.description(class="form-control form-control-lg is-invalid")}}
					<div class="text-feedback">
						{% for error in form.description.errors %}
						<span class="text-danger">{{error}}</span>
						{% endfor %}
					</div>
					{% else %}
					{{form.description(class="form-control form-control-lg",placeholder="description du fichier")}}
					{% endif %}
				</div>
				<div class="input-group" style="margin-bottom: 5px;">
					<span class="input-group-addon"><i class="glyphicon glyphicon-camera"></i></span>
					{{form.fichier(class="form-control-file")}}
					{% if form.fichier.errors %}
					<div class="text-feedback">
						{% for error in form.fichier.errors %}
						<span class="text-danger">{{error}}</span><br/>
						{% endfor %}
					</div>			
					{% endif %}
				</div>
				<div class="form-group">
					{{form.submit(class="btn btn-default",id="bsign")}}
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-md-8 col-sm-8 col-xs-12  panel-body" style="margin-top: 3px;">
		<fieldset>
			<legend class="text-danger" style="text-align: center">Fichiers en ligne</legend>
			<div class="table-responsive table-hover">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Date</th>
							<th>Utilisateur</th>
							<th>fichier</th>
							<th>Operations</th>
						</tr>
					</thead>
					<tbody>
						{% for dossier in dossiers.items %}
						<tr>
							<td>{{dossier.id}}</td>
							<td>{{dossier.date_posted.strftime('%d-%m-%Y')}}</td>
							<td>{{dossier.author.username}}</td>
							<td><a href="{{url_for('static',filename='fichiers/'+dossier.fichier)}}">voir le fichier</a></td>
							<td>
								<a href="{{url_for('dossier_detail',dossier_id=dossier.id)}}" class="btn btn-warning">détails</a>
								<a href="{{url_for('dossier_update',dossier_id=dossier.id)}}" class="btn btn-primary">modifier</a>
								<a href="{{url_for('dossier_delete',dossier_id=dossier.id)}}" class="btn btn-danger">Supprimer</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</fieldset>
		{% for page_num in dossiers.iter_pages() %}
			{% if page_num %}
				{% if dossiers.page == page_num %}
					<a class="btn" style="background-color: #449d44;color: #fff;border-color: #398439;" 
					href="{{url_for('dossier',page=page_num)}}">{{page_num}}</a>
				{% else %}
					<a class="btn" id="btlink"  href="{{url_for('dossier',page=page_num)}}">{{page_num}}</a>
				{% endif %}
			{% else %}
				...
			{% endif %}
		{% endfor %}
	</div>
</div>
<hr/ style="border-color: #ff1122;">
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3" style="margin-top: 3px;">
		<fieldset>
			<legend class="text-primary" style="text-align: center">Liste des Utilisateurs</legend>
			<div class="table-responsive table-hover">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nom utilisateur</th>
							<th>Email</th>
							<th>Profile</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td>{{user.id}}</td>
							<td>{{user.username}}</td>
							<td>{{user.email}}</td>
							<td>{{user.profile}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</fieldset>
	</div>
</div>
<div class="col-md-offset-3 col-sm-offset-3" style="margin-top: 3px;">
	<a href="{{url_for('register')}}">Ajouter un utilisateur</a>
</div>
{% endblock content %}