{% extends "layout.html" %}
{% block content %}
    <div class="callbacks_container w3-layouts">
      <ul class="rslides callbacks callbacks1 agileits" id="slider4">
        <li id="callbacks1_s1" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 500ms ease-in-out;">
          <img src="{{url_for('static',filename='images/b11.jpg')}}" alt="home" />
          <div class="caption text-center">
			<div class="col-md-8 banner_text_left">
			<h3>Présentation</h3>
			<p>Entreposage et Garantie Financière « EGF » est une Société Anonyme
				inscrite au Registre de Commerce de Dakar sous le numéro N° SN
				DKR 2017 B1796 ayant son siège social à Dakar 24, Rue Alioune DIOP,
				Fann-Résidence.
			</p>
			</div>
			<div class="col-md-4 banner_text_right">
			<h4>Procédures</h4>
			<div class="w3-ban-text">
			<h5>Entreprosage</h5>
			</div>
			<div class="w3-ban-text">
			<h5>Tierce détention</h5>
			</div>
			<div class="w3-ban-text">
			<h5>Gestion de Stock</h5>
			</div>
			<div class="w3-ban-text">
			<h5>Convoyage</h5>
			</div>
			<div class="w3-ban-text">
			<h5>Financement</h5>
			</div>
			<div class="w3-ban-text">
			<h5>Conseil</h5>
			</div>
			</div>
			<div class="clearfix"></div>
			</div>
        </li>
		
        <li id="callbacks1_s2" class="callbacks1_on" style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 500ms ease-in-out;">
          <img src="{{url_for('static',filename='images/22.jpg')}}" alt="home" />
            <div class="caption text-center">
			<div class="col-md-12 banner_text_left">
			<h3>LES ACTIVITES DE LA SOCIETE</h3>
			<p>Elle consiste en : l’Entreposage, la Tierce Détention, le Financement
				de Stock, la Gestion de Stock (au niveau des magasins pour les
				produits solides) la Gestion de Dépôts (pour les produits liquides),
				le Convoyage de Marchandises (solides et liquides) et le Conseil</p>
			</div>
			<div class="clearfix"></div>
			</div>
        </li>
      </ul>
	  		<a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a><a href="#" class="callbacks_nav callbacks1_nav next">Next</a>
    </div>
     <!-- /Slider  -->
    <!--//banner-->
 <!-- about -->
<div class="about" id="about">
	<div class="container">
		<div class="w3-head-all text-center ">
			<h3>A Propos</h3>
		</div>	
		
		<div class="about-bottom-grid1">
			<div class="col-md-6 bottomgridtext">
				<h3>RESSOURCES HUMAINES</h3>
				<p>Dans le cadre de l’exercice de sa mission de « tiers-détenteur», prévue par la loi, EGF s’est dotée des moyens logistiques et humains </p>
				<div class="readmore-w3">
					<a class="readmore" href="#" data-toggle="modal" data-target="#myModal">En savoir plus<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="col-md-6 bottomgridimg">
				<img src="{{url_for('static',filename='images/ab11.jpg')}}" alt="">
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="about-bottom-grid2">
			<div class="col-md-6 bottomgridimg">
				<img src="{{url_for('static',filename='images/ab22.jpg')}}" alt="">
			</div>
			<div class="col-md-6 bottomgridtext bottomleft">
				<h3>REPRESENTATION GEOGRAPHIQUE  </h3>
				<p>Nous intervenons dans la sous région : Sénégal, Mali, Guinée, Togo, etc Dans tous ces pays, nos agents interviennent aussi</p>
				<div class="readmore-w3">
					<a class="readmore" href="#" data-toggle="modal" data-target="#myModal2">En savoir plus<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- modal --><!-- for pop up -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="span2" aria-hidden="true">&times;</span></button>						
				<h4 class="modal-title"> RESSOURCES HUMAINES ET MOYENS MATERIELS</h4>
			</div> 
		<div class="modal-body">
			<div class="agileits-w3layouts-info">
				<img src="{{url_for('static',filename='images/m1.jpg')}}" alt="" />
				<p>Dans le cadre de l’exercice de sa mission de « tiers-détenteur
				», prévue par la loi, EGF s’est dotée des moyens logistiques et
				humains nécessaires, adaptés à une multiplicité de secteurs
				d’activité de l’industrie, du négoce, de l’agro alimentaire, et de
				la pétrochimie.
				La société emploie à l’heure actuelle des agents répartis en
				cadres, agents de maitrise, employés et ouvriers.
				Nos ressources humaines justifient de compétences variées et
				diverses qui répondent aux exigences nouvelles soulevées par
				notre cœur de métier.
				Enfin, toutes nos activités sont couvertes par des polices
				d’assurances, dont « la multirisque professionnelle » et « la
				responsabilité civile professionnelle » avec un plafond de garantie
				élevé à hauteur de plusieurs milliards de francs CFA. Toutes
				les polices sont domiciliées chez une compagnie d’assurance
				notoirement solvable et mondialement reconnue (Allianz)</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- //modal --><!-- //for pop up -->
<!-- modal --><!-- for pop up -->
<div class="modal about-modal fade" id="myModal2" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header"> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="span2" aria-hidden="true">&times;</span></button>						
				<h4 class="modal-title"> REPRESENTATION GEOGRAPHIQUE</h4>
			</div> 
		<div class="modal-body">
			<div class="agileits-w3layouts-info">
				<img src="{{url_for('static',filename='images/m1.jpg')}}" alt="" />
				<p>Nous intervenons dans la sous région : Sénégal, Mali, Guinée,
					Togo, etc.
					Dans tous ces pays, nos agents interviennent aussi bien au niveau
					des ports autonomes que des dépôts d’hydrocarbures où ils
					participent aux différentes opérations d’un bout à l’autre.
					A l’occasion, ils sont soit représentant résidents de la structure,
					agents de liaison ou de relais pour ceux chargés de suivi et du
					contrôle des citernes et des camions qui transportent justement
					les marchandises vers leur destination finale</p>
			</div>
		</div>
		</div>
	</div>
</div>
<!-- //modal --><!-- //for pop up -->

<!-- /Produits -->
<div class="services" id="services">
	<div class="container">
		<div class="w3-head-all ">
			<h3>Produits et volumes d'affaires par sociétés</h3>
		</div>	

		<div class="w3-services-grids">
			<div class="col-md-4 w3-services-grids1">
			<div class="w3-services-grid1">
				<i class="fa fa-cutlery" aria-hidden="true"></i>
				<h3>Riz Importé</h3>
				<div class="w3-services-grid1-left">
					<h4>500 M</h4>
					<p>Novel Sénégal</p>
				</div>
				<div class="w3-services-grid1-right">
				<h4>83.330 M</h4>
					<p>SCDA</p>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="col-md-4 w3-services-grids1 ">
			<div class=" w3-services-grid2">
		<i class="fa fa-th-large" aria-hidden="true"></i>
				<h3>Riz Local</h3>
			<div class="w3-services-grid1-left">
					<h4>400 M</h4>
					<p>CCSN</p>
				</div>
				<div class="w3-services-grid1-right">
				<h4>7.009 M </h4>
					<p>RIZERIES LA VALLEE</p>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="col-md-4 w3-services-grids1">
			<div class=" w3-services-grid3">
			<i class="fa fa-th" aria-hidden="true"></i>
				<h3>Sucre</h3>
			<div class="w3-services-grid1-left">
					<h4>4.500 M</h4>
					<p>SICOR</p>
				</div>
				<div class="w3-services-grid1-right">
				<h4>1.636 M</h4>
					<p>SARDI</p>
				</div>
				<div class="clearfix"></div>
		
			</div>
			</div>
			
			<div class="clearfix"></div>
			<div class="w3-services-grid-bottom">
			<div class="col-md-4 w3-services-grids1">
			<div class="w3-services-grid4">
							<i class="fa fa-tint" aria-hidden="true"></i>
				<h3>Huile</h3>
				<div class="w3-services-grid1-left">
					<h4>1 406 850k</h4>
					<p>SIEGEM</p>
				</div>
				<div class="w3-services-grid1-right">
				<h4>999 636 250</h4>
					<p>WC</p>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="col-md-4 w3-services-grids1">
			<div class=" w3-services-grid5">
							<i class="fa fa-leaf" aria-hidden="true"></i>
				<h3>arachides</h3>
				<div class="w3-services-grid1-left">
					<h4>992 400 000</h4>
					<p>SIEGEM</p>
				</div>
				<div class="w3-services-grid1-right">
				<h4>170 000 000</h4>
					<p>CN</p>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			<div class="col-md-4 w3-services-grids1">
			<div class=" w3-services-grid6">
							<i class="fa fa-asterisk" aria-hidden="true"></i>
				<h3>Autres</h3>
				<div class="w3-services-grid1-left">
					<h4>58 M</h4>
					<p>Soja</p>
				</div>
				<div class="w3-services-grid1-right">
				<h4>3.500 M</h4>
					<p>Vehicules</p>
				</div>
				<div class="clearfix"></div>
			</div>
			</div>
			
			<div class="clearfix"></div>
		</div>
		</div>
</div>
</div>
<!-- //Produits -->
<!-- gallery -->
	<div class="gallery" id="portfolio">  
					<div class="w3-head-all ">
			<h3>Portfolio</h3>
		</div>	
		<div class="col-sm-6 col-xs-12 gallery-wthreegrids"> 
			<div class="gallery-agileinfo-row"> 
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid">   
					<a href="images/g1.jpg" class="agilefig gallery-img" data-lightbox="example-set" data-title="Duis venenatis nisl id posuere dictum. Maecenas vitae accumsan est, id imperdiet libero. Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div>
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text">
					<h4>pc repair</h4> 
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="gallery-agileinfo-row"> 
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-w3lsgrid3">  
					<a href="images/g3.jpg" class="agilefig gallery-img3" data-lightbox="example-set" data-title="Maecenas vitae accumsan est, id imperdiet libero. Duis venenatis nisl id posuere dictum.  Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div>
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text3">
					<h4>mobile repair</h4>  
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div> 
			</div> 
		</div> 
		<div class="col-sm-6 col-xs-12 gallery-wthreegrids"> 
			<div class="gallery-agileinfo-row"> 
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid">  
					<a href="images/g2.jpg" class="agilefig gallery-img2" data-lightbox="example-set" data-title="Duis venenatis nisl id posuere dictum.  Maecenas vitae accumsan est, id imperdiet libero. Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div> 
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text">
					<h4>Software problems</h4> 
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="gallery-agileinfo-row">   
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-w3lsgrid3">  
					<a href="images/g4.jpg" class="agilefig gallery-img4" data-lightbox="example-set" data-title="Nisl id posuere dictum duis venenatis. Maecenas vitae accumsan est, id imperdiet libero. Quisque sit amet felis a nisl condimentum bibendum phasellus vitae egestas diam."> </a>
				</div>
				<div class="col-sm-6 col-xs-6 gallery-w3lsgrid gallery-text3">
					<h4>board problems</h4> 
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit tincidunt ellus feugiat porttitor nulla magna vitae nisl </p>
				</div>
				<div class="clearfix"> </div> 
			</div> 
		</div> 
		
		<div class="clearfix"> </div>   
		
		<script src="{{url_for('static',filename='js/lightbox-plus-jquery.min.js')}}"></script> 
	</div>
	<!-- //gallery --> 

<!-- testimonials -->
	<div class="test" id="test">
	<div class="w3-head-all ">
			<h3>EGF en détails</h3>
		</div>	
		<div class=" w3_agileits_about_right">
			<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="col-md-4 agileits_w3layouts_about_right">
							<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Christina Mark</h4>
								<h5>Manager</h5>
								
							</div>
							<div class="col-md-4 agileits_w3layouts_about_right">
							<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Christina Mark</h4>
								<h5>Employee</h5>
								
							</div>
							<div class="col-md-4 agileits_w3layouts_about_right">
								<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Christina Mark</h4>
								<h5>Employee</h5>
								
							</div>
							<div class="clearfix"></div>
						</li>
						<li>
							<div class="col-md-4 agileits_w3layouts_about_right">
								<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Thomas Winston</h4>
								<h5>Manager</h5>
								
							</div>
							<div class="col-md-4 agileits_w3layouts_about_right">
								<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Thomas Winston</h4>
								<h5>Employee</h5>
								
							</div>
							<div class="col-md-4 agileits_w3layouts_about_right">
								<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Thomas Winston</h4>
								<h5>Incharge</h5>
								
							</div>
							<div class="clearfix"></div>
						</li>
						<li>
							<div class="col-md-4 agileits_w3layouts_about_right">
							
								<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Arabella</h4>
								<h5>Volunteer</h5>
								
							</div>
							<div class="col-md-4 agileits_w3layouts_about_right">
								
								
								<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
									<h4>Arabella</h4>
								<h5>Employee</h5>
							</div>
							<div class="col-md-4 agileits_w3layouts_about_right">
								<p>Vivamus euismod, nisi sit amet auctor consequat, tellus metus accumsan tellus, 
									sed convallis leo felis feugiat sem.Pellentesque sit amet semper nisl, 
									at congue elit ac eros sed nibh ornare iaculis.</p>
								<h4>Arabella</h4>
								<h5>Incharge</h5>
								
							</div>
							<div class="clearfix"></div>
						</li>
					</ul>
				</div>
			</section>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //testimonials -->
<!-- /subscribe -->
<div class="subscribe">
	<div class="container">
		<div class="col-md-12">
			<a href="" class="btn btn-danger col-xs-12" data-toggle="tooltip" data-placement="top" title=" Stocker les produits dans des entrepôts sécurisés">Entreprosage</a>
			<a href="" class="btn btn-primary col-xs-12" data-toggle="tooltip" data-placement="top" title="- Sécuriser le financement de la banque par une détention réelle de la marchandise (gage sur stocks)
				- Identifier et s’assurer de la conformité de la marchandise
				convenue
				- Respecter les normes de magasinage et d’entreposage
				- Adresser les prises en charge au créancier gagiste dès réception
				des biens
				- Livrer les biens au client conformément à la main levée délivrée par
				le créancier gagiste
				- Etablir un rapport de visites de stocks et d’inspection de magasins
				- Transmettre aux deux parties, un état journalier résumant la situation
				exacte du stock
				- Transmettre à la banque un état mensuel récapitulatif, regroupant
				les commentaires faisant ressortir les observations, suggestions et les
				propositions relatives à chaque opération">Tierce détention</a>
			<a href="" class="btn btn-warning col-xs-12" data-toggle="tooltip" data-placement="top" title="Réception des marchandises
					- Remplir et archiver un bordereau de réception
					- Ouvrir une fiche de produits
					- Ouvrir et mettre à jour la fiche de stocks
					- Mettre à jour l’état des stocks
					• Livraison des marchandises
					- Quantifier les marchandises sortantes
					- Remplir et archiver un bordereau de livraison
					- Mettre à jour la fiche de produits
					- Mettre à jour la fiche de stocks
					- Mettre à jour l’état de stocks
					NB : cette procédure est valable aussi bien pour les produits solides
					que les liquides.">Gestion de stock</a>
			<a href="" class="btn btn-success col-xs-12" data-toggle="tooltip" data-placement="top" title="- Etablir les plans de chargement
				- Contrôler les véhicules par la détention des documents administratifs associés au suivi physique du lieu de chargement,
				jusque dans les différents sites
				- Coordonner les informations avec les agents placés aux points
				de contrôle
				- Faire le rapprochement entre les quantités chargées et celles
				déchargées">Convoyage</a>
				<a href="" class="btn btn-info col-xs-12" data-toggle="tooltip" data-placement="top" title="- Accompagner nos clients (PME) dans la recherche de partenaire fiable,
				- Effectuer les démarches pour nos clients
				- Trouver des partenaires adéquats">Financement de stock</a>
			<a href="" class="btn btn-default col-xs-12" data-toggle="tooltip" data-placement="top" title="- Accompagner nos clients dans leurs projets">conseil</a>
		</div> 
		<div class="clearfix"></div>
</div>
</div>
<!-- //subscribe -->
<!-- contact -->
	<div class="contact" id="contact">
		<div class="w3-head-all ">
			<h3>Contact</h3>
		</div>
		<div class="col-md-6 w3agile_contact_left con-lef-content">
				<h3>Contact Us</h3>
				
				<form action="#" method="post">
					<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Send">
				</form>
		</div>
		<div class="col-md-6 w3agile_contact_right">
	
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96748.47026078735!2d-74.25419852950611!3d40.73144986754836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25370329a0e1d%3A0xe1bcdc2adcfee473!2sNewark%2C+NJ%2C+USA!5e0!3m2!1sen!2sin!4v1479793381615" allowfullscreen></iframe>

	<!-- //map -->

		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //contact -->

<!-- Banner-plugin -->
<script src="{{url_for('static',filename='js/responsiveslides.min.js')}}"></script>
<script>
// You can also use "$(window).load(function() {"
$(function () {
  // Slider◘
  $("#slider4").responsiveSlides({
	auto:false,
	pager: false,
	nav: true,
	speed: 500,
	namespace: "callbacks",
	before: function () {
	  $('.events').append("<li>before event fired.</li>");
	},
	after: function () {
	  $('.events').append("<li>after event fired.</li>");
	}
  });

});
</script>
<!-- //Banner-plugin -->
<!-- flexSlider -->
	<script defer src="{{url_for('static',filename='js/jquery.flexslider.js')}}"></script>
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
<!-- //flexSlider -->
<!-- footer -->
<div class="footer">
	<div class="container">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-4 footer-left">
			<h2><a href="index.html">E-SERVICES </a></h2>
			<p>Lorem ipsum quia dolor
			sit amet, consectetur, adipisci velit, sed quia non 
			numquam eius modi tempora.</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
		</div>
		<div class="col-md-4 footer-right">
			<div class="sign-grds">
				<div class="sign-gd">
					<h4>Information </h4>
					<ul>
						 <li><a href="{{url_for('index')}}" class="active">Home</a></li>
        <li><a href="#about" class="scroll">About</a></li>
        <li><a href="#services" class="scroll"> Services</a></li>
		<li><a href="#portfolio" class="scroll">Portfolio</a></li>
		<li><a href="#test" class="scroll">Testimonials</a></li>
		<li><a href="#contact" class="scroll">Contact</a></li>
						
					</ul>
				</div>
				</div>
			</div>
				<div class="col-md-4 sign-gd-two">
					<h4>Address</h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+221 78 174 11 81</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:ousseynou.dieng@univ-thies.sn"> ousseynou.dieng@univ-thies.sn</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Cabano, Petit Mbao Venus,Dakar, Senegal. 
								
								</p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
				
		
		<div class="clearfix"></div>
			
		<p class="copy-right">&copy;2018 E-services. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>
</div>
<!-- //footer -->
{% endblock content %}